a {
  color: #f35b25;
  text-decoration: none;
  font-weight: bold;
}

body {
  margin: 0;
  overscroll-behavior: none;
  color: #2a3356;
  font-family: "open sans";
}
html {
  scroll-behavior: smooth;
}
main {
  background-color: #fdfcfc;
}
footer {
  position: fixed;
  width: 100vw;
  height: 50px;
  background-color: #2a3356;
  color: #fdfcfc;
  text-align: center;
  list-style-type: none;
  bottom: 0;
  margin-top: 20px;
  z-index: -3;
}
footer a {
  color: #fdfcfc;
  font-family: "Raleway";
  text-decoration: none;
  font-weight: bold;
}
footer a:hover {
  color: #f35b25;
}
footer ul {
  padding: 0;
  list-style-type: none;
  padding-top: 12px;
  width: 100%;
  margin-top: 0;
}

footer ul li {
  padding: 12px;
  display: inline;
}

ul {
  list-style: none;
}

h1,
h2 {
  font-size: calc(30px + 2vw);
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway";
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: #2a3356; */
  height: 50px;
}
header a {
  color: #fdfcfc;
  font-family: "Raleway";
  text-decoration: none;
  font-weight: bold;
  font-size: calc(12px + 0.7vw);
}
header a:hover {
  color: #f35b25;
}
img {
  width: 70%;
  box-shadow: #2a3356 0 3px 6px;
}
main,
body,
section {
  position: relative;
  z-index: -2;
}
nav li {
  flex: auto;
  align-items: flex-end;
}
nav ul {
  display: flex;
  width: 30%;
  float: right;
  list-style-type: none;
  align-self: center;
}

section {

  box-shadow: #2a3356 0 3px 6px;
  background: rgba(253, 252, 252, 1);
  background: -moz-radial-gradient(
          center,
          ellipse cover,
          rgba(253, 252, 252, 1) 0%,
          rgba(42, 51, 86, 0.27) 85%,
          rgba(42, 51, 86, 0.14) 100%
  );
  background: -webkit-gradient(
          radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(253, 252, 252, 1)),
    color-stop(85%, rgba(42, 51, 86, 0.27)),
    color-stop(100%, rgba(42, 51, 86, 0.14))
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(253, 252, 252, 1) 0%,
    rgba(42, 51, 86, 0.27) 85%,
    rgba(42, 51, 86, 0.14) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(253, 252, 252, 1) 0%,
    rgba(42, 51, 86, 0.27) 85%,
    rgba(42, 51, 86, 0.14) 100%
  );
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(253, 252, 252, 1) 0%,
    rgba(42, 51, 86, 0.27) 85%,
    rgba(42, 51, 86, 0.14) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(253, 252, 252, 1) 0%,
    rgba(42, 51, 86, 0.27) 85%,
    rgba(42, 51, 86, 0.14) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfcfc', endColorstr='#2a3356', GradientType=1 );
}
.btn {
  background-color: #f35b25;
  padding: 2px 10px;
  border-radius: 5px;
}
.btn:hover {
  color: #2a3356;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.contact-mobile {
  width: 100vw;
  background-color: #2a3356;
  display: none;
  padding-top: 12px;
  position: fixed;
  bottom: 0;
  z-index: -5;
}
.contact-mobile ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.contact-mobile svg {
  fill: #f35b25;
  width: 24px;
}
.landing {
  background-image: url("img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  justify-content: center;
  display: flex;
  /* color: #2a3356; */
  color: #fdfcfc;
  box-shadow: #2a3356 0 3px 6px;

  background-attachment: fixed;

  font-weight: bold;
}

.landing div {
  padding-top: 50px;
  position: absolute;
}

.landing-legal {
  background-color: #2a3356;
  width: 100vw;
  min-height: 50px;
}

.legal {
  margin: 0 15% 50px 15%;
  padding: 50px 0 50px 0;
}

.legal > div {
  margin: 10px 0;
}

.legal h4 {
  color: #2a3356;
  font-size: larger;

}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bold {
  font-weight: bold;
}

.projects-container > div {
  margin: 50px 0;
}

.projects-container > div {
  margin: 0 20%;
}

.projects-container > div:nth-child(odd) {
  text-align: right;
}
.projects-container ul {
  padding-left: 0;
}
.projects-container ul li {
  display: inline;
}

#contact {
  position: fixed;
  bottom: 50px;
  z-index: 0;
}
#contact ul {
  list-style-type: none;
}
#contact svg {
  fill: #f35b25;
  width: 35px;
  margin: 5px 0;
}

#contact svg:hover {
  transform: translatey(-5px);
  transition: 0.5s;
  fill: #2a3356;
}
#hamburger-btn {
  display: none;
}
#hamburger-menu {
  list-style-type: none;
  width: 100vw;
  overflow: visible;
  text-align: center;
  position: absolute;
  margin: 0;
  padding-left: 0;
}
#list {
  display: none;
  list-style-type: none;
  min-width: 100vw;
  margin-top: 50px;
}
#skills {
  text-align: center;
  padding: 10% 0;
}
#skills h3 {
  align-self: center;
}
#skills ul li {
  display: inline;
  padding: 20px;
}
#skills ul {
  padding: 0;
  justify-content: center;
}
#skills svg {
  fill: #f35b25;
  vertical-align: middle;
}
#projects {
  padding-bottom: 5%;
  margin-bottom: 50px;
}
#projects div {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 750px) {
  img {
    margin: 0;
    width: 100%;
  }
  footer {
    position: initial;
    bottom: 0;
    margin-top: 0;
  }
  header {
    background-color: #2a3356;
  }
  section {
    box-shadow: none;
  }
  .projects-container > div {
    margin: 0;
  }
  .projects-container div h3,
  .projects-container div p,
  .projects-container div ul {
    text-align: left;
    margin: 0 2%;
  }
  .landing {
    background-attachment: scroll;
    box-shadow: none;
  }
  .contact-mobile {
    display: block;
    position: initial;
  }
  #contact {
    display: none;
  }

  #hamburger-btn {
    display: block;
    font-size: 35px;
    float: right;
    margin-right: 30px;
  }
  #hamburger-menu li {
    background-color: #2a3356;
    width: 100%;
    padding: 30px 0;
    box-shadow: #2a3356 0 3px 6px;
    border: 0;
  }
  #hamburger-menu li a {
    padding: 5px 90px;
  }
  #menu {
    display: none;
  }
  #projects {
    margin-bottom: 50px;
  }
}
